<div >
    <h2>tracFlags:</h2>
    <!--<ul *ngFor="let traceFlag of tracFlags">
        <li>{{traceFlag.TracedEntity.Name}}</li>
    </ul>-->
   
        <table>
                <thead>
                    <tr>
                        <th>TracedEntity</th>
                        <th>DebugLevel</th>
                        <th>ExpirationDate</th>
                        <th>StartDate</th>
                    </tr>
                </thead>
                <tbody>
                        <tr app-trace-flag-item  *ngFor="let traceFlag of tracFlags" [traceFlag]="traceFlag"></tr>
                </tbody>
            </table>
    
   

</div>

