@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.header{
  background: #1abc9c;
    color: white;
    font-size: 30px;
    padding: 0 10px 10px 10px;

   
}
.right-header { 
  text-align: right;
  position: absolute;
  right: 0;
  top: 10px
    
  }

  .inerAPP{
    padding:20px;
}
.IsSandbox-true::after {
  content: " Sandbox";
}

.IsSandbox-false::after {
  content: " PRD";
}
.CORSerror{
  
  line-height: 50px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  margin: auto;
  margin-top: 100px ;
  width: 50%;
  font-size: xx-large;
  padding: 20px;
}
